:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #2961ac;
}

body {
    /* background-image: linear-gradient(180deg, var(--color2) 40%, var(--color3) 100%); */
    background-color: var(--color2);
    color: var(--color1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Styling for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Styling for the first nav */
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
    flex-grow: 1;
    margin-top: 10px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li .special:hover {
    color: var(--color3);
    text-transform: uppercase;
    font-weight: bold;
}


header nav ul li .special::after {
    content: "";
    width: 0%;
    height: 2.5px;
    background: var(--color1);
    display: block;
    transition: 0.5s ease-in-out;
}

header nav ul li .special:hover::after {
    width: 100%;
    background: var(--color3);
}


.fa-brands {
    font-size: 1.1rem;
    color: var(--color3);
}

.fa-solid {
    font-size: 1.1rem;
    color: var(--color3);
}

.fa-brands:hover {
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.fa-solid:hover {
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.fa-github:hover {
    color: #000000;
}

.fa-linkedin-in:hover {
    color: #0077b5;
}

.fa-envelope:hover {
    background: linear-gradient(to right, #3E65CF 10%, #C71610 40%, #F2A60C 20%, #3B60C4 50%, #08851b 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Styling for the second nav */
header nav .logo {
    display: flex;
    align-items: center;
}

header nav .logo img {
    width: 50px;
    height: 50px;
}


/* Main body */

main {
    flex-grow: 1;
    display: flex;
}

main #about {
    margin: 20px 20px auto;
}

#about-me {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #projects {
    margin: 20px 20px auto;
}

main #projects p {
    margin: 10px auto;
    text-align: center;
}

main #about h1 {
    font-weight: bold;
}

main #about-me h1 {
    font-weight: bold;
}

.row {
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.row::-webkit-scrollbar {
    display: none;
}

/*  CARDS PROJECTS */

.card {
    margin: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: var(--color2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-primary {
    background-color: var(--color3);
    border: none;
}

.btn-primary:hover {
    background-color: #1d4be4;
    border: none;
}


/* FOOTER */
footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: var(--color2);
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer p {
    margin: 10px;
}

footer a {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #163b7e;
}


/* ABOUT PAGE */

#about {
    margin: auto;
}



/* MOBILE */

@media only screen and (max-width: 820px) {
    main {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 9rem);
        /* Subtract footer height */
        padding-bottom: 9rem;
        /* Added */
        box-sizing: border-box;
        /* Added */
    }

    main #about {
        margin: 40px 40px auto;
    }

    main #projects {
        margin: 40px 40px auto;
    }

    footer {
        position: fixed;
        /* Changed to fixed */
        bottom: 0;
        left: 0;
    }
}