:root {
    --color1: #000000;
    --color2: #f3f3f3;
    --color3: #2961ac;
}

body {
    /* background-image: linear-gradient(180deg, var(--color2) 40%, var(--color3) 100%); */
    background-color: var(--color2);
    color: var(--color1);
}

h1,
h2,
h3,
a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Styling for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Styling for the first nav */
header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
}

header nav ul li .special:hover {
    color: var(--color3);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header nav ul li .special::after {
    content: "";
    width: 0%;
    height: 2.5px;
    background: var(--color1);
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}

header nav ul li .special:hover::after {
    width: 100%;
    background: var(--color3);
}


.fa-brands {
    font-size: 1.1rem;
    color: var(--color3);
}

.fa-brands:hover {
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.fa-github:hover {
    color: #000000;
}

.fa-linkedin-in:hover {
    color: #0077b5;
}

.fa-youtube:hover {
    color: #FF0000;
}

/* Styling for the second nav */
header nav .logo {
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 42px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header nav .logo img {
    width: 50px;
    height: 50px;
}

header nav .logo:hover {
    color: var(--color3);
}

/* Main body */

main {
    display: flex;
    margin-top: 5%;
}

main #about {
    margin: 20px 20px auto;
}

main #about h1 {
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px auto;
    height: 550px;
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.row::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.row {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*  CARDS PROJECTS */

.card {
    margin: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: var(--color2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-primary {
    background-color: var(--color3);
    border: none;
}

.btn-primary:hover {
    background-color: #3099d6;
    border: none;
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9rem;
    padding: 30px;
    text-align: center;
    font-size: 16px;
    color: var(--color2);
    margin-top: auto;
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer p {
    margin: 10px;
}

footer a {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #377cfa;
}


/* ABOUT PAGE */

#about {
    margin: auto;
}