

:root {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #8d2727;
}

body {
    /* background-image: linear-gradient(180deg, var(--color2) 40%, var(--color3) 100%); */
    background-color: var(--color2);
    color: var(--color1);
}

h1,
h2,
h3,
a {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Styling for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Styling for the first nav */
header nav:first-of-type ul {
    display: flex;
    list-style: none;
}

header nav:first-of-type ul li {
    margin-right: 20px;
}

header nav:first-of-type ul li:last-child {
    margin-right: 0;
}

header nav:first-of-type ul li a {
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
}

header nav:first-of-type ul li a:hover {
    color: var(--color3);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header nav:first-of-type ul li a::after {
    content: "";
    width: 0%;
    height: 2.5px;
    background: var(--color1);
    display: block;
    margin: auto;
    transition: 0.5s ease-in-out;
}

header nav:first-of-type ul li a:hover::after {
    width: 100%;
    background: var(--color3);
}

/* Styling for the second nav */
header nav .logo {
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 42px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header nav .logo:hover {
    color: var(--color3);
}

header nav .logo p {
    font-family: 'Zen Dots', cursive;
}

/* Styling for the second nav */

header nav .logo p:first-of-type {
    transform: scaleX(-1);
}

header nav .logo .backward {
    transform: scaleX(-1);
}

main #about {
    margin: 20px 20px auto;
}

main #projects {
    margin: 20px 20px auto;
}

main #socials {
    margin: 20px 20px auto;
}

/*  CARDS PROJECTS */

.card {
    border: 1px solid red;
    margin: 10px;
    flex: 1 1 300px;
    background: rgba(109, 17, 17, 0.212);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card:hover {
    border: 1.5px solid rgb(224, 24, 24);
}

.btn-primary {
    background-color: var(--color3);
    border: none;
}

.btn-primary:hover {
    background-color: #9e0909;
    border: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


/*  SOCIALS MEDIA */

main #socials ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main #socials ul li {
    display: inline-block;
    margin-right: 10px;
}

.fa-brands {
    font-size: 7rem;
    margin: 20px 20px auto;
    color: var(--color3);
}

.fa-brands:hover {
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
}

.fa-square-github:hover {
    color: #000000;
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-square-youtube:hover {
    color: #FF0000;
}


/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: var(--color1);
    margin-top: 50px;
    background: rgba(109, 17, 17, 0.212);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

footer p {
    margin: 10px;
}

footer a {
    color: var(--color3);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #cf684e;;
}